<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="customer">
 
 <!--  
- 	select 문의 resultType 에서 여러줄이 나와도 List<VO> 아니다. 그냥 VO 타입이다.
- 
  parameter 가 한개일 경우 : VO 또는 String이나 int 등 사용 가능
  parameter 가 두개~여러개인 경우 : 반드시 VO 를 사용
  <select id="외부에서 호출할 때 사용할 id" resultType="결과 타입(VO 또는 int)"  [parameterType = "외부에서 들어오는 정보타입" ]>
    실제 사용할 쿼리
  </select>
  <insert id=""parameterType=""></insert>
  <update id=""parameterType=></update>
  <delete id=""parameterType=></delete>
  -->
  <!--  파라미터를 String으로  -->
  <select id="getSelectAll" resultType="com.ict.mybatis.Ex01_VO">
  	select * from customer
  </select>
  
  <select id="getSelectOne" resultType="com.ict.mybatis.Ex01_VO" parameterType="String">
  	select * from customer where custid = #{custid}
  </select>
  
  <select id="getCount" resultType="int" >
  	select count(*) from customer
  </select>
  
  <insert id="getInsert" parameterType="com.ict.mybatis.Ex01_VO">
  		insert into customer(custid, name, address, phone)
  		values(#{custid}, #{name}, #{address}, #{phone})
  </insert>
  <!--  parameter 를 vo로 -->
  <delete id="getDelete" parameterType="com.ict.mybatis.Ex01_VO">
  		delete from customer where custid = #{custid}
  </delete>
  
  <update id="getUpdate" parameterType="com.ict.mybatis.Ex01_VO">
  	update customer
  	set
  	name =#{name},
  	address =#{address},
  	phone =#{phone}
  	where custid =#{custid}
  </update>
  
  
  
 </mapper>